<div class="row pb-4">
  <div class="col-md-3">
    <label for="contrato" class="form-label">Contrato</label>
    <select id="contrato" class="form-select" id="contrato" #contrato (change)="listarParcelas(contrato.value)">
      <option value="" disabled>Selecione</option>
      <option [value]="contrato.id" *ngFor="let contrato of contratos">
        {{ contrato.curso }}
      </option>
    </select>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Vencimento</th>
      <th scope="col" class="text-end">Valor</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let parcela of parcelas">
      <th scope="row">{{ parcela.sequencial }}</th>
      <td>{{ parcela.dataVencimento | date: "dd/MM/yyyy" }}</td>
      <td class="text-end">R$ {{ parcela.valor.toFixed(2) }}</td>
      <td class="text-end">
        <a routerLink="/parcelas/{{ parcela.id }}" *ngIf="parcela.temBoleto">
          <i class="bi bi-printer-fill"></i>
        </a>
        
        <button type="button" class="btn btn-link p-0" *ngIf="parcela.gerarBoleto" (click)="gerarBoletoParcela(parcela.id)">
          <i class="bi bi-file-earmark-plus-fill"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
